
<section class="page-heading">
  <div class="page-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="page-heading-inner">
          <h1 class="page-title"><span>{{ page.title }}</span></h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space">&#62;</span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
            </span>              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-content">
  <div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="page-inner">
          <div id="page">
            <div class="details">              
              {{ page.content }}
              <div class="content">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% if section.settings.faq-text1-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{section.settings.faq-text1-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      {{section.settings.faq-text1-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if section.settings.faq-text2-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{section.settings.faq-text2-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      {{section.settings.faq-text2-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if section.settings.faq-text3-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{section.settings.faq-text3-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      {{section.settings.faq-text3-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if section.settings.faq-text4-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{section.settings.faq-text4-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      {{section.settings.faq-text4-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if section.settings.faq-text5-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{section.settings.faq-text5-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      {{section.settings.faq-text5-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if section.settings.faq-text6-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{section.settings.faq-text6-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                      {{section.settings.faq-text6-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if section.settings.faq-text7-head != "" %}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSv">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSv" aria-expanded="false" aria-controls="collapseSv">
                        <span class="faq-icon"><i class="fa fa-question-circle"></i></span>
                        {{section.settings.faq-text7-head}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSv">
                    <div class="panel-body">
                      {{section.settings.faq-text7-cont}}
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
              <script>
                 jQuery(function ($) {
                    var $active = $('#accordion .panel-collapse.in').prev().addClass('active');
                    $('#accordion').on('show.bs.collapse', function (e) {
                        $('#accordion .panel-heading.active').removeClass('active');
                        $(e.target).prev().addClass('active');
                    })
                });
              </script>  
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

{% schema %}
{
  "name": "FAQs Content",
  "settings": [
	  {
        "type": "text",
        "id": "faq-text1-head",
        "label": "FAQ 1 - Heading",
        "default": "Can I return / exchange an item?"
      },
      {
        "type": "textarea",
        "id": "faq-text1-cont",
        "label": "FAQ 1 - Content",
        "default": "We do not process returns, but we do process exchanges within 15 days of receiving the product if it has not been used. All exchanges are made for store credit. All sales on clearance items are final and cannot be exchanged, clearance items or items sent back to us after 15 days without prior approval will not be processed. To make an exchange please send your item along with a note bearing your name, and your E-Mail address. Once we receive your exchange, we will send an e-mail with a coupon code for the amount of the exchanged item(s). Send to: The Headspace Attn: Returns 9665 Laurel Way Felton, CA 95018"
      },
      {
        "type": "text",
        "id": "faq-text2-head",
        "label": "FAQ 2 - Heading",
        "default": " When will my order ship?"
      },
      {
        "type": "textarea",
        "id": "faq-text2-cont",
        "label": "FAQ 2 - Content",
		"default": "We have a 0-3 business day handling period. (M-F)"
      },
      {
        "type": "text",
        "id": "faq-text3-head",
        "label": "FAQ 3 - Heading",
        "default": " I’ve waited longer than 3 days, where is my order?"
      },
      {
        "type": "textarea",
        "id": "faq-text3-cont",
        "label": "FAQ 3 - Content",
		"default": "If you have waited longer than that, please check your order confirmation email that came from Paypal. If it says “Back-ordered” under the name, that means that your item was listed on back order before you purchased, when you selected size. Back orders apply to apparel only. They take 1-90 days, but usually less than 30. Unlike other all over print websites with no actual stock, our clothing is in stock on our shelves, so we recommend taking advantage and avoiding back-ordered items. Hats are in stock while supplies last, and then cannot be back ordered. For home goods, please refer to the information found here and on each home good item page."
      },
      {
        "type": "text",
        "id": "faq-text4-head",
        "label": "FAQ 4 - Heading",
        "default": "Is it safe to spin fire in The Headspace apparel?"
      },
      {
        "type": "textarea",
        "id": "faq-text4-cont",
        "label": "FAQ 4 - Content",
		"default": "The Headspace apparel is made from recycled polyester, which is a highly-flammable and very dangerous to spin fire in. We advise our audience to avoid playing with fire toys while wearing polyester clothing."
      },
      {
        "type": "text",
        "id": "faq-text5-head",
        "label": "FAQ 5 - Heading",
        "default": "Can I change my address after I place my order?"
      },
      {
        "type": "textarea",
        "id": "faq-text5-cont",
        "label": "FAQ 5 - Content",
		"default": "Yes, if it hasn’t been shipped. Email – jamesonmccloud@gmail.com"
      },
      {
        "type": "text",
        "id": "faq-text6-head",
        "label": "FAQ 6 - Heading",
        "default": "Can I change the products in my order before they’re shipped?"
      },
      {
        "type": "textarea",
        "id": "faq-text6-cont",
        "label": "FAQ 6 - Content",
		"default": "No."
      },
      {
        "type": "text",
        "id": "faq-text7-head",
        "label": "FAQ 7 - Heading",
        "default": "Can I Cancel my Backorder?"
      },
      {
        "type": "textarea",
        "id": "faq-text7-cont",
        "label": "FAQ 7 - Content",
		"default": "No."
      }

  ]
}
{% endschema %}